body{
    font-family: Helvetica, sans-serif;
    padding:0;
    margin:0;
}

header{
    background-color: #33445c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-links{
    display: flex;
    gap: 20px;
}

a{
  text-decoration: none;
  color: #e5e7eb;
}
.hero{
    background: #33445c;
}